<!DOCTYPE html>
<html>
  <head>
    <title>nodejs-api</title>
  </head>
  <body>
    <p>
      <a href="/explorer">API Explorer</a>
    </p>
    <h2>API</h2>
    <h4>embedsOne</h4>
    <ul>
      <li><a href='/api/customers/<%= customer.id %>/address'>/api/customers/<%= customer.id %>/address</a></li>
    </ul>
  </body>
</html>
